.basic {
	margin: 20px;
}

.App {
	text-align: center;
}

li {
	cursor: pointer;
}

li:hover {
	background-color: burlywood;
	text-decoration: underline;
}

.selected {
	background-color: lightgreen;
	text-decoration: underline;
}
